<ion-header>

    <ion-navbar color="danger">
        <ion-title>Game</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <h1>{{gameData.team1}} {{gameData.homeAway}} {{gameData.team2}}</h1>
            <h2>
                <ion-icon name="calendar"></ion-icon> {{1468051200000 | date:'dd MMM-yyyy'}}
            </h2>
            <h1>Score: {{gameData.team1Score}} : {{gameData.team2Score}}</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col width-60>
                    <h1>at {{gameData.location}}</h1>
                </ion-col>
                <ion-col width-20>
                    <button outline round ion-button (click)="goToMap()"><ion-icon name="map"></ion-icon></button>
                </ion-col>
                <ion-col width-20>
                    <button outline round ion-button (click)="goToNavigation()"><ion-icon name="navigate"></ion-icon></button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>